# ─── General ─────────────────────────────────────────────────────
.DS_Store
*.log
*~

# ─── R / RStudio ─────────────────────────────────────────────────
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# ─── Python ──────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
.venv/
env/
.env

# ─── Jupyter / RMarkdown ─────────────────────────────────────────
.ipynb_checkpoints/
*.html
*.utf8.md
*.knit.md
.virtual_documents/
.jupyter/
renv/library/
notebooks/catboost_info/
notebooks/rsconnect/


# ─── VSCode ──────────────────────────────────────────────────────
.vscode/

# ─── Data ────────────────────────────────────────────────────────
data/processed/
data/external/
*.csv
*.tsv
*.parquet
*.pkl
*.joblib
*.h5
!reports/model_metrics.csv

# ─── Airflow ─────────────────────────────────────────────────────
logs/
dags_output/
airflow.cfg
untracked_dags/

# ─── MLflow ──────────────────────────────────────────────────────
mlruns/

# ─── Docker ──────────────────────────────────────────────────────
docker/airflow/__pycache__/
*.tar
*.img
