# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# R
.Rhistory
.RData
.Rproj.user/
.Rproj

# Jupyter / R Notebooks
.ipynb_checkpoints/
*.nb.html  # HTML output from notebooks
*.Rmd_cache/

# Data
data/
!data/README.md  # Keep a placeholder if needed

# Models
models/
!models/README.md

# Reports
reports/
!reports/README.md

# Other
.DS_Store