apache-airflow==2.7.2 \
  --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.7.2/constraints-3.8.txt

scikit-learn==1.3.2
pandas==2.1.4
joblib==1.3.2
xgboost==1.7.6
pyyaml
sqlalchemy